<li class="comment">
  <span class="hidden comment-id"><%= comment._id %></span>
  <div class="comment-author-avatar">
    <img src="/assets/default-avatar.jpg" alt="<%= comment.author.name %> avatar">
  </div>
  <div class="comment-author-info">
    <a href="#"><%= comment.author.name %></a>
  </div>
  <div class="comment-body">
    <%= comment.body %>
  </div>
  <% if (user) { %>
    <menu class="comment-menu">
      <li>Score: <span class="comment-score"><%= comment.score %></span></li>
      <li><button class="comment-vote-up">Vote up</button></li>
      <li><button class="comment-vote-down">Vote down</button></li>
      <% if (comment.author._id.toString() === user._id) { %>
        <li>
          <form action="/comments/<%= comment._id %>?_method=DELETE"
            method="POST">
            <input type="hidden" name="postId" value="<%= comment.post._id %>">
            <button>Delete</button>
          </form>
        </li>
      <% } %>
    </menu>
  <% } %>
</li>