<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> 
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/posts.css">
  <title>Image List</title>
</head>

<body>
  <% include ../partials/nav-bar.ejs %>
  <div class="container">
    <% include ../partials/search-bar.ejs %>
    <aside class="sidebar">
      <% include ../partials/tag-list.ejs %>
    </aside>
    <div id="content">
      <section class="thumbnails">
        <% for (const post of posts) { %>
          <% if (post && post.imageLink) { %>
            <div class="thumbnail-preview">
              <a href="/posts/<%= post._id %>"><img src="<%= post.thumbnailLink%>"></a>
            </div>
          <% } %>
        <% } %>
      </section>
      <section class="pagination">
        <span class="pages">
          <a href="/posts?<%= ['page=1', 'tags='+tagsQuery].join('&') %>"><<</a>
          <% for (let i = Math.max(1, pageInfo.currentPage - 5); i <= Math.min(pageInfo.lastPage, pageInfo.currentPage + 5); i++) { %>
            <% if (i == pageInfo.currentPage) { %>
              <a id="active-page" href="/posts?page=<%= i %><%= tagsQuery ? '&tags='+tagsQuery : ''%>"><%= i %></a>
            <% } else { %>
              <a href="/posts?page=<%= i %><%= tagsQuery ? '&tags='+tagsQuery : ''%>"><%= i %></a>
            <% } %>
          <% } %>
          <a href="/posts?page=<%= pageInfo.lastPage %><%= tagsQuery ? '&tags='+tagsQuery : ''%>">>></a>
        </span>
      </section>
    </div>
  </div>

  <script src="/js/tags.js"></script>
  <script src="/js/sidebar.js"></script>
<% include ../partials/footer.ejs %>