<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> 
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/posts.css">
  <title>Image List</title>
</head>

<body>
  <% include ../partials/nav-bar.ejs %>
  <div class="container">
    <% include ../partials/search-bar.ejs %>
    <aside class="sidebar">
      <% include ../partials/tag-list.ejs %>
    </aside>
    <div id="content">
      <% if (posts && posts.length > 0) {%>
        <section class="thumbnails">
          <% for (const post of posts) { %>
            <% if (post && post.imageLink) { %>
              <div class="thumbnail-preview">
                <a href="/posts/<%= post._id %>"><img src="<%= post.thumbnailLink%>"></a>
              </div>
            <% } %>
          <% } %>
        </section>
      <% } else {%>
        <h3>Nobody here but us chickens!</h3>
      <% } %>
      <% if (posts && posts.length > 0) {%>
        <section class="pagination">
          <span class="pages">
            <% if (pageInfo.currentPage > 1) { %>
              <a class="page-arrow" href="/posts?page=<%= pageInfo.currentPage - 1 %><%= tagsQuery ? '&tags='+tagsQuery : ''%>"><</a>
            <% } else { %>
              <span class="page-arrow"><</span>
            <% } %>

            <% if (pageInfo.currentPage - 3 > 1) { %>
              <a class="page non-active-page" href="/posts?page=1<%= tagsQuery ? '&tags='+tagsQuery : ''%>">1</a>
              <span class="skipped-pages">...</span>
            <% } %>

            <% for (let i = Math.max(1, pageInfo.currentPage - 3); i <= Math.min(pageInfo.lastPage, pageInfo.currentPage + 3); i++) { %>
              <% if (i == pageInfo.currentPage) { %>
                <a id="active-page" class="page" href="/posts?page=<%= i %><%= tagsQuery ? '&tags='+tagsQuery : ''%>"><%= i %></a>
              <% } else { %>
                <a class="page non-active-page" href="/posts?page=<%= i %><%= tagsQuery ? '&tags='+tagsQuery : ''%>"><%= i %></a>
              <% } %>
            <% } %>

            <% if (pageInfo.currentPage + 3 < pageInfo.lastPage) { %>
              <span class="skipped-pages">...</span>
              <a class="page non-active-page" 
              href="/posts?page=<%= pageInfo.lastPage %><%= tagsQuery ? '&tags='+tagsQuery : ''%>"><%= pageInfo.lastPage %></a>    
            <% } %>

            <% if (pageInfo.currentPage < pageInfo.lastPage) { %>
              <a class="page-arrow" href="/posts?page=<%= pageInfo.currentPage + 1 %><%= tagsQuery ? '&tags='+tagsQuery : ''%>">></a>
            <% } else { %>
              <span class="page-arrow">></span>
            <% } %>
          </span>
        </section>
        <% } %>
    </div>
  </div>

  <script src="/js/tags.js"></script>
  <script src="/js/sidebar.js"></script>
  <script src="/js/pagination.js"></script>
<% include ../partials/footer.ejs %>