<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/posts.css">
    <title>Image List</title>
</head>

<div class="container">
    <% include ../partials/search-bar.ejs %>
    <div id="content">
        <section class="tags">
            <ul>
                <% if (tags) { %>
                    <% for (const tag of tags) { %>
                        <li><a href="/posts?tags=<%= tag %>"><%= tag %></a></li>
                    <% } %>
                <% } %>
            </ul>
        </section>
        <section class="thumbnails">
            <% for (const post of posts) { %>
                <% if (post && post.image) { %>
                    <div class="thumbnail-preview">
                        <a href="/posts/<%= post._id %>"><img src="<%= post.image.data %>"></a>
                    </div>
                <% } %>
            <% } %>
        </section>
    </div>
    
</div>

<div class="container">

    <% for (let i = Math.max(1, page_info.page - 5); i < page_info.page; i++) { %>
        <a href="/posts?page=<%= i %>""><%= i %></a>
    <% } %>
    <a href="posts?page=<%= page_info.page %>"><%= page_info.page %></a>
    <% for (let i = page_info.page + 1; i <= Math.min(page_info.max_page, page_info.page + 5); i++) { %>
        <a href="/posts?page=<%= i %>"><%= i %></a>
    <% } %>
</div>



<% include ../partials/footer.ejs %>