<% include ../partials/header.ejs %>

<h1>Image List Here</h1>
<% for (const image of images) { %>
    <% if (image) { %>
        <img src="<%= image %>">
    <% } %>
<% } %>

<% for (let i = Math.max(1, page_info.page - 5); i < page_info.page; i++) { %>
    <a href='/posts?page=<%= i %>'><%= i %></a>
<% } %>
<a href='posts?page=<%= page_info.page %>'><%= page_info.page %></a>
<% for (let i = page_info.page + 1; i <= Math.min(page_info.max_page, page_info.page + 5); i++) { %>
    <a href='/posts?page=<%= i %>'><%= i %></a>
<% } %>

<% include ../partials/footer.ejs %>