<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> 
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link rel="stylesheet" href="/css/posts.css" type="text/css">
  <title><%= post._id %></title>
</head>

<body>
  <% include ../partials/nav-bar.ejs %>
  <div class="container">
    <% include ../partials/search-bar.ejs %>
    <div id="content">
      <div class="sidebar">
        <% include ../partials/tag-list.ejs %>
        <section class="sidebar-section-generic">
          <div class="sidebar-section-name">
            <h3>Statistics</h3>
          </div>
          <ul>
            <div><li class="sidebar-section-generic-content"><span>Id:</span><span><%= post._id %></span></li></div>
            <div><li class="sidebar-section-generic-content"><span>Source:</span><span><%= post.source %></span></li></div>
            <div><li class="sidebar-section-generic-content"><span>Title:</span><span><%= post.title %></span></li></div>
          </ul>
        </section>
        <section class="sidebar-section-generic">
          <div class="sidebar-section-name">
            <h3>Options</h3> 
          </div>
          <ul>
            <div><li class="sidebar-section-generic-content">Edit</li></div>
          </ul>
        </section>
      </div>
      <section class="post-image">
        <img src='<%= post.imageLink %>'>
      </section>
    </div>
  </div>

  <script src="/js/tags.js"></script>
  <script src="/js/nav-bar.js"></script>
  <script src="/js/sidebar.js"></script>
<% include ../partials/footer.ejs %>