<%- include('../partials/header', { stylesheets: [
  "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css",
  "/css/main.css",
  "/css/posts.css"
], title: post.id
}) %>
  <div class="container">
    <% include ../partials/search-bar.ejs %>
    <aside class="sidebar">
      <% include ../partials/tag-list.ejs %>
      <section class="sidebar-section-generic">
        <div class="sidebar-section-name">
          <h3>Information</h3>
        </div>
        <ul>
          <div><li class="sidebar-section-generic-content"><span>Id:</span> <span id="post-id"><%= post.id %></span></li></div>
          <div><li class="sidebar-section-generic-content"><span>Source:</span> <span id="post-source"><%= post.source %></span></li></div>
          <div><li class="sidebar-section-generic-content"><span>Score:</span> <span id="post-score"><%= post.score %></span></li></div>
        </ul>
      </section>
      <section class="sidebar-section-generic">
        <div class="sidebar-section-name">
          <h3>Options</h3> 
        </div>
        <ul>
          <div><li class="sidebar-section-generic-content"><a href="/posts/<%= post.id %>/edit">Edit</a></li></div>
          <% if (user && user._id === post.author._id.toString()) { %>
          <div>
            <li class="sidebar-section-generic-content">
              <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                <button id="delete-button">Delete</button>
              </form>
            </li>
          </div>
          <% } %>
        </ul>
      </section>
    </aside>
    <div id="content">
      <section class="post-image">
        <img src='<%= post.imageLink %>'>
        <% if (user) { %>
          <menu class="post-menu">
            <li><button id="post-vote-up">Vote up</button></li>
            <li><button id="post-vote-down">Vote down</button></li>
            <li><button id="post-favorite">Favorite</button></li>
          </menu>
        <% } %>
      </section>
      <section class="comments">
        <% if (post.comments && post.comments.length > 0) { %>
          <div class="comments-list">
            <ul>
              <% for (const comment of post.comments) { %>
                <%- include('../partials/comment', {
                  comment: comment,
                  user: user
                }) %>
              <% } %>
            </ul>
          </div>
        <% } %>
        <% if (user) { %>
          <div class="comment-new">
            <form action="/comments" method="POST">
              <input type="hidden" name="postId" value="<%= post._id %>">
              <div class="form-entry">
                <textarea name="comment[body]" id="body" placeholder="Add a comment..."></textarea>
              </div>
              <button>Submit</button>
            </form>
          </div>
        <% } %>
      </section>
    </div>
  </div>

  <script src="/js/tags.js"></script>
  <script src="/js/sidebar.js"></script>
  <script src="/js/score.js"></script>
<% include ../partials/footer.ejs %>